AI_HOST=0.0.0.0
AI_PORT=8002
AI_INTERNAL_KEY=doi_gia_tri_nay

# tiny | base | small | medium | large-v3
AI_WHISPER_MODEL=small
# auto | cpu | cuda
AI_WHISPER_DEVICE=auto
AI_WHISPER_COMPUTE_TYPE=int8

AI_TRANSLATION_MODEL=facebook/nllb-200-distilled-600M

# edge | none
AI_TTS_ENGINE=edge
AI_MODEL_CACHE_DIR=/models
AI_DOWNLOAD_TIMEOUT=120
